<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.subsystem.dao.TradeBzjtkZsbMapper">
  <resultMap id="BaseResultMap" type="com.ydw.subsystem.entity.TradeBzjtkZsb">
    <id column="sysSeqNo" jdbcType="VARCHAR" property="sysseqno" />
    <result column="tdID" jdbcType="VARCHAR" property="tdid" />
    <result column="pjClass" jdbcType="VARCHAR" property="pjclass" />
    <result column="tdName" jdbcType="VARCHAR" property="tdname" />
    <result column="openDate" jdbcType="VARCHAR" property="opendate" />
    <result column="reDate" jdbcType="VARCHAR" property="redate" />
    <result column="mainAcc" jdbcType="VARCHAR" property="mainacc" />
    <result column="subAcc" jdbcType="VARCHAR" property="subacc" />
    <result column="cenbkName" jdbcType="VARCHAR" property="cenbkname" />
    <result column="cusName" jdbcType="VARCHAR" property="cusname" />
    <result column="cusbkAcc" jdbcType="VARCHAR" property="cusbkacc" />
    <result column="cusbkName" jdbcType="VARCHAR" property="cusbkname" />
    <result column="seqNo" jdbcType="VARCHAR" property="seqno" />
    <result column="reAmount" jdbcType="DOUBLE" property="reamount" />
    <result column="rtDate" jdbcType="VARCHAR" property="rtdate" />
    <result column="tseqNo" jdbcType="VARCHAR" property="tseqno" />
    <result column="payDate" jdbcType="VARCHAR" property="paydate" />
    <result column="payClass" jdbcType="VARCHAR" property="payclass" />
    <result column="payAmount" jdbcType="DOUBLE" property="payamount" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from trade_bzjtk_zsb
    where sysSeqNo = #{sysseqno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ydw.subsystem.entity.TradeBzjtkZsb2">
    insert into trade_bzjtk_zsb (sysSeqNo, tdID, pjClass,
      tdName, openDate, reDate,
      mainAcc, subAcc, cenbkName,
      cusName, cusbkAcc, cusbkName,
      seqNo, reAmount, rtDate,
      tseqNo, payDate, payClass,
      payAmount, `type`)
    values (#{sysseqno,jdbcType=VARCHAR}, #{tdid,jdbcType=VARCHAR}, #{pjclass,jdbcType=VARCHAR},
      #{tdname,jdbcType=VARCHAR}, #{opendate,jdbcType=VARCHAR}, #{redate,jdbcType=VARCHAR},
      #{mainacc,jdbcType=VARCHAR}, #{subacc,jdbcType=VARCHAR}, #{cenbkname,jdbcType=VARCHAR},
      #{cusname,jdbcType=VARCHAR}, #{cusbkacc,jdbcType=VARCHAR}, #{cusbkname,jdbcType=VARCHAR},
      #{seqno,jdbcType=VARCHAR}, #{reamount,jdbcType=DOUBLE}, #{rtdate,jdbcType=VARCHAR},
      #{tseqno,jdbcType=VARCHAR}, #{paydate,jdbcType=VARCHAR}, #{payclass,jdbcType=VARCHAR},
      #{payamount,jdbcType=DOUBLE}, #{type,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ydw.subsystem.entity.TradeBzjtkZsb2">
    update trade_bzjtk_zsb
    set tdID = #{tdid,jdbcType=VARCHAR},
      pjClass = #{pjclass,jdbcType=VARCHAR},
      tdName = #{tdname,jdbcType=VARCHAR},
      openDate = #{opendate,jdbcType=VARCHAR},
      reDate = #{redate,jdbcType=VARCHAR},
      mainAcc = #{mainacc,jdbcType=VARCHAR},
      subAcc = #{subacc,jdbcType=VARCHAR},
      cenbkName = #{cenbkname,jdbcType=VARCHAR},
      cusName = #{cusname,jdbcType=VARCHAR},
      cusbkAcc = #{cusbkacc,jdbcType=VARCHAR},
      cusbkName = #{cusbkname,jdbcType=VARCHAR},
      seqNo = #{seqno,jdbcType=VARCHAR},
      reAmount = #{reamount,jdbcType=DOUBLE},
      rtDate = #{rtdate,jdbcType=VARCHAR},
      tseqNo = #{tseqno,jdbcType=VARCHAR},
      payDate = #{paydate,jdbcType=VARCHAR},
      payClass = #{payclass,jdbcType=VARCHAR},
      payAmount = #{payamount,jdbcType=DOUBLE},
      `type` = #{type,jdbcType=VARCHAR}
    where sysSeqNo = #{sysseqno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sysSeqNo, tdID, pjClass, tdName, openDate, reDate, mainAcc, subAcc, cenbkName,
    cusName, cusbkAcc, cusbkName, seqNo, reAmount, rtDate, tseqNo, payDate, payClass,
    payAmount, `type`
    from trade_bzjtk_zsb
    where sysSeqNo = #{sysseqno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sysSeqNo, tdID, pjClass, tdName, openDate, reDate, mainAcc, subAcc, cenbkName,
    cusName, cusbkAcc, cusbkName, seqNo, reAmount, rtDate, tseqNo, payDate, payClass,
    payAmount, `type`
    from trade_bzjtk_zsb
  </select>

  <select id="selectByTypeOnDate" resultMap="BaseResultMap" parameterType="java.lang.String">
    select sysSeqNo, tdID, pjClass, tdName, openDate, reDate, mainAcc, subAcc, cenbkName,
    cusName, cusbkAcc, cusbkName, seqNo, reAmount, rtDate, tseqNo, payDate, payClass,
    payAmount, `type`
    from trade_bzjtk_zsb
    where  `type` = #{type,jdbcType=VARCHAR}
    <if test="beginDate != null" >
      <![CDATA[ and rtDate >= #{beginDate,jdbcType=VARCHAR}]]>
    </if>
    <if test="endDate!=null">
      <![CDATA[ and rtDate <= #{endDate,jdbcType=VARCHAR}]]>
    </if>
  </select>





  <select id="selectByTypeOnDateTrade" resultMap="BaseResultMap" parameterType="java.lang.String">
    select sysSeqNo, tdID, pjClass, tdName, openDate, reDate, mainAcc, subAcc, cenbkName,
    cusName, cusbkAcc, cusbkName, seqNo, reAmount, rtDate, tseqNo, payDate, payClass,
    payAmount, `type`
    from trade_bzjtk_zsb
    where  `type` = #{type,jdbcType=VARCHAR}
    AND payClass = 'B'
    <if test="beginDate != null" >
      <![CDATA[ and rtDate >= #{beginDate,jdbcType=VARCHAR}]]>
    </if>
    <if test="endDate!=null">
      <![CDATA[ and rtDate <= #{endDate,jdbcType=VARCHAR}]]>
    </if>

  </select>




  <select id="selectByTypeOnOpenDate" resultMap="BaseResultMap" parameterType="java.lang.String">
    select sysSeqNo, tdID, pjClass, tdName, openDate, reDate, mainAcc, subAcc, cenbkName,
    cusName, cusbkAcc, cusbkName, seqNo, reAmount, rtDate, tseqNo, payDate, payClass,
    payAmount, `type`
    from trade_bzjtk_zsb
    where  `type` = #{type,jdbcType=VARCHAR}
    <if test="beginDate != null" >
      <![CDATA[ and openDate >= #{beginDate,jdbcType=VARCHAR}]]>
    </if>
    <if test="endDate!=null">
      <![CDATA[ and openDate <= #{endDate,jdbcType=VARCHAR}]]>
    </if>


  </select>

</mapper>